<template>
  <section class="page">
    <header>
        <nav class="content">
            <a href="/">
                <img src="@/static/header__logo.svg" alt="">
            </a>
            <a href="../About">О нас</a>
            <a href="../Courses">Курсы</a>
            <a href="../News">Новости</a>
            <a href="../Login">Вход/Регистрация</a>
        </nav>
    </header>
    <section>
        <div class="content">
            <div class="course">
              <img src="../../static/sololearn.jpg" alt="">
              <p>Бесплатные интеркативные курсы по веб-программированию: HTML5, CSS3, Java Script и т.д., с возможностью получения сертификата. </p>
              <div class="detales-btn">
                <a href="https://www.sololearn.com/"><button class="hover">Подробнее</button></a>
            </div>
            </div>
            <div class="course">
              <img src="../../static/htmlac.jpg" alt="">
              <p>Интересные, наглядные и затягивающие курсы, интерактивные интерфейсы, достижения — всё для обучения с удовольствием. И конечно же, Инструктор Кекс. Заскучать не получится.</p>
              <div class="detales-btn">
                <a href="https://www.sololearn.com/"><button class="hover">Подробнее</button></a>
            </div>
            </div>
            <div class="course">
              <img src="../../static/php.jpg" alt="">
              <p>Научитесь создавать сайты и интернет-магазины. Освойте один из самых популярных языков программирования, устройтесь в IT‑компанию или станьте независимым разработчиком — и зарабатывайте от 80 000 рублей
в месяц. После курса — гарантированное трудоустройство.</p>
              <div class="detales-btn">
                <a href="https://www.sololearn.com/"><button class="hover">Подробнее</button></a>
            </div>
            </div>
        </div>
        <hr>
        <div class="content">
            <div class="footer">
                <p>При поддержке</p>
                <a href="https://www.itc48.ru/">
                    <img src="@/static/ITC.svg" alt="">
                </a>
    
                <p class="lipetsk">Липецк 2019</p>
            </div>
        </div>
    </section>
    <footer>

    </footer>
  </section>
 
</template>

<script>
export default {
  components: {}
};
</script>
<style>
body {
  margin: 0px;
  padding: 0px;
  background-image: url("../../static/background.jpg");
  background-size: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html {
  margin: 0px;
  padding: 0px;
}
.page {

  width: 100%;
}

.course{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 10%;
  align-items: center;
  margin: 3rem 0;
}

.course img{
  width: 15rem;
}

.course p{
  font-size: 1.5rem;
  color: white;
  text-align: left;
  width: 43%;
}

.course .detales-btn{
  width: 25%;
}

header {
  width: 100%;
  height: 4rem;
  display: flex;
  flex-wrap: nowrap;
  font-size: 2rem;
  margin: 1rem 0;
  border-bottom: 1px solid white;
}

header nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

header nav a img {
  width: 3rem;
}

header nav a {
  text-decoration: none;
  color: white;
  font-weight: 400;
}

.main__block img {
  width: 15rem;
  display: flex;
  
}

.main__block {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  height: 20%;
  margin: 4rem 0;
}

.main__block p {
  height: 40%;
  width: 50%;

  color: white;
  font-size: 2rem;
  font-weight: 300;
}

.left-align {
  margin-left: 2rem;
  text-align: left;
}

.right-align {
  margin-right: 2rem;
  text-align: right;
  
}




.detales-btn {
  width: 100%;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detales-btn button {
  width: 20rem;
  height: 5rem;
  background-color: yellow;
  cursor: pointer;
  border: 0;
  font-size: 2rem;
}

.hover {
  background: inherit;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.detales-btn button a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
footer{
    width: 0;
    height: 0;
    display: none;
}
.footer{
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    bottom: 0;
    
}
.footer p{
    font-size: 2rem;
    color: white;
}

.lipetsk{
    font-size: 2rem;
    color: rgb(145, 145, 145);
}
.footer img{
    width: 15rem;
}
@media screen and (max-width: 2200px) {
  html {
    font-size: 82.5%;
  }
  .content {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1920px) {
  html {
    font-size: 82.5%;
  }
  .content {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1600px) {
  html {
    font-size: 82.5%;
  }
  .content {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1366px) {
  html {
    font-size: 82.5%;
  }
  .content {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 922px) {
  html {
    font-size: 70%;
  }
  .content {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 690px) {
  html {
    font-size: 60%;
  }
  .content {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 450px) {
  html {
    font-size: 40%;
  }
  .content {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 375px) {
  html {
    font-size: 33.31%;
    font-weight: 100;
  }
  .content {
    width: 90%;
    margin: 0 auto;
  }
}
</style>
