<template>

  

  <section class="page">
    <header>
        <nav class="content">
            <a href="/">
                <img src="@/static/header__logo.svg" alt="">
            </a>
            <a href="../About">О нас</a>
            <a href="../Courses">Курсы</a>
            <a href="../News">Новости</a>
            <a href="../Login">Вход/Регистрация</a>
        </nav>
    </header>
    <section>
        <div class="content">
            <div class="main__block">
              
              <div class="about__us">
                <div class="logo__itc">
              <img src="../../static/ITC.svg" alt="">
              </div>
                <p>Областное бюджетное учреждение «Информационно-технический центр» создано в 2011 году постановлением администрации Липецкой области от 8.09.2011 № 280.
Учреждение осуществляет свою деятельность в соответствии с нормативными правовыми актами Российской Федерации, Липецкой области, Уставом.
Функции учредителя и главного распорядителя бюджетных средств выполняет управление делами администрация области.
Координацию и регулирование деятельности – управление информатизации администрации области.</p>
             
                <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2424.6195432315335!2d39.61017171580963!3d52.57649117982493!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x413a153035379055%3A0x9ced1914d5f20de9!2z0JjQvdGE0L7RgNC80LDRhtC40L7QvdC90L4t0YLQtdGF0L3QuNGH0LXRgdC60LjQuSDRhtC10L3RgtGA!5e0!3m2!1sru!2sru!4v1576412487746!5m2!1sru!2sru" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
           
            
             </div>

            </div>
            <div class="detales-btn">
                <a href="/"><button class="hover">Подробнее</button></a>
            </div>
        </div>
        <hr>
        <div class="content">
            <div class="footer">
                <p>При поддержке</p>
                <a href="https://www.itc48.ru/">
                    <img src="@/static/ITC.svg" alt="">
                </a>
                
                <p class="lipetsk">Липецк 2019</p>
            </div>
        </div>
    </section>
    <footer>

    </footer>
  </section>
 
</template>

<script>
export default {
  components: {}
};
</script>
<style>
body {
  margin: 0px;
  padding: 0px;
  background-image: url("../../static/background.jpg");
  background-size: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html {
  margin: 0px;
  padding: 0px;
}
.page {

  width: 100%;
}

.logo__itc{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 3rem;
}
.all__i{
  width: 100%;
  display: flex;
  flex-direction: column;
}
#map{
  width: 100%;
}
.about__us{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


header {
  width: 100%;
  height: 4rem;
  display: flex;
  flex-wrap: nowrap;
  font-size: 2rem;
  margin: 1rem 0;
  border-bottom: 1px solid white;
}

header nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

header nav a img {
  width: 3rem;
}

header nav a {
  text-decoration: none;
  color: white;
  font-weight: 400;
}

.main__block img {
  width: 15rem;
  display: flex;
  
}

.main__block {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  height: 20%;
  margin: 4rem 0;
}

.main__block p {
  height: 40%;
  width: 50%;

  color: white;
  font-size: 2rem;
  font-weight: 300;
}
.about__us p{
width: 100%;
}

.left-align {
  margin-left: 2rem;
  text-align: left;
}

.right-align {
  margin-right: 2rem;
  text-align: right;
  
}




.detales-btn {
  width: 100%;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detales-btn button {
  width: 20rem;
  height: 5rem;
  background-color: yellow;
  cursor: pointer;
  border: 0;
  font-size: 2rem;
}

.hover {
  background: inherit;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.detales-btn button a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
footer{
    width: 0;
    height: 0;
    display: none;
}
.footer{
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    bottom: 0;
    
}
.footer p{
    font-size: 2rem;
    color: white;
}

.lipetsk{
    font-size: 2rem;
    color: rgb(145, 145, 145);
}
.footer img{
    width: 15rem;
}
@media screen and (max-width: 2200px) {
  html {
    font-size: 82.5%;
  }
  .content {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1920px) {
  html {
    font-size: 82.5%;
  }
  .content {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1600px) {
  html {
    font-size: 82.5%;
  }
  .content {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1366px) {
  html {
    font-size: 82.5%;
  }
  .content {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 922px) {
  html {
    font-size: 70%;
  }
  .content {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 690px) {
  html {
    font-size: 60%;
  }
  .content {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 450px) {
  html {
    font-size: 40%;
  }
  .content {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 375px) {
  html {
    font-size: 33.31%;
    font-weight: 100;
  }
  .content {
    width: 90%;
    margin: 0 auto;
  }
}
</style>
