<template>

  

  <section class="page">
    <header>
        <nav class="content">
            <a href="/">
                <img src="@/static/header__logo.svg" alt="">
            </a>
            <a href="../About">О нас</a>
            <a href="../Courses">Курсы</a>
            <a href="../News">Новости</a>
            <a href="../Login">Вход/Регистрация</a>
        </nav>
    </header>
    <section>
        <div class="content">
            
                <div class="news__block">
                    <div class="news__main">
                        <img src="../../static/first__day-first.jpg" alt="">
                        <p class="date__news">13.12.2019</p>
                        <p class="title__news">Первый день нашего буткемпа! Никита рассказывал на про то, как нужно правильно рисовать и создавать макеты наших будущих сайтов, а Михаил дал нам основы верстки.</p>
                    </div>
                    <div class="news__little">
                        <img src="../../static/first__day-second.jpg" alt="">
                        <img src="../../static/first__day-third.jpg" alt="">
                    </div>
                </div>
                 <div class="news__block">
                    <div class="news__main">
                        <img src="../../static/second__day-first.jpg" alt="">
                        <p class="date__news">14.12.2019</p>
                        <p class="title__news">Второй день. Фронт-энд штука непростая. Егор рассказал нам, как сделать наш проект на фрэймворке vue.js</p>
                    </div>
                    <div class="news__little">
                        <img src="../../static/second__day-second.jpg" alt="">
                        <img src="../../static/second__day-third.jpg" alt="">
                    </div>
                </div>
                 <div class="news__block">
                    <div class="news__main">
                        <img src="../../static/third__day-first.jpg" alt="">
                        <p class="date__news">15.12.2019</p>
                        <p class="title__news">Финальный, третий день буткемпа завершается информацией о бэк-энде. Дмитрий рассказал, как нужно создавать базы данных и общаться с сервером.</p>
                    </div>
                    <div class="news__little">
                        <img src="../../static/third__day-second.jpg" alt="">
                        <img src="../../static/third__day-third.jpg" alt="">
                    </div>
                </div>
        

            
        </div>
        <hr>
        <div class="content">
            <div class="footer">
                <p>При поддержке</p>
                <a href="https://www.itc48.ru/">
                    <img src="@/static/ITC.svg" alt="">
                </a>
                
                <p class="lipetsk">Липецк 2019</p>
            </div>
        </div>
    </section>
    <footer>

    </footer>
  </section>
 
</template>

<script>
export default {
  components: {}
};
</script>
<style>
body {
  margin: 0px;
  padding: 0px;
  background-image: url("../../static/background.jpg");
  background-size: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html {
  margin: 0px;
  padding: 0px;
}
.page {

  width: 100%;
}

header {
  width: 100%;
  height: 4rem;
  display: flex;
  flex-wrap: nowrap;
  font-size: 2rem;
  margin: 1rem 0;
  border-bottom: 1px solid white;
}

header nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

header nav a img {
  width: 3rem;
}

header nav a {
  text-decoration: none;
  color: white;
  font-weight: 400;
}

.main__block img {
  width: 15rem;
  display: flex;
  
}

.main__block {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  height: 20%;
  margin: 4rem 0;
}

.main__block p {
  height: 40%;
  width: 50%;
  color: white;
  font-size: 2rem;
  font-weight: 300;
}

.left-align {
  margin-left: 2rem;
  text-align: left;
}

.right-align {
  margin-right: 2rem;
  text-align: right;
  
}

.date__news{
    font-size: 1.5rem;
    color: rgb(168, 168, 168);
    width: 10%;
}

.news__block{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}

.title__news{
    width: 100%;
    font-size: 2rem;
    color: white;
}

.news__block img{
width: 100%;
padding: 2rem;

}

.news__main{
    width: 65%;
    padding: 2rem;
}

.news__little{
    width: 30%;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
}



.detales-btn {
  width: 100%;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detales-btn button {
  width: 20rem;
  height: 5rem;
  background-color: yellow;
  cursor: pointer;
  border: 0;
  font-size: 2rem;
}

.hover {
  background: inherit;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.detales-btn button a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
footer{
    width: 0;
    height: 0;
    display: none;
}
.footer{
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    bottom: 0;
    
}
.footer p{
    font-size: 2rem;
    color: white;
}

.lipetsk{
    font-size: 2rem;
    color: rgb(145, 145, 145);
}
.footer img{
    width: 15rem;
}
@media screen and (max-width: 2200px) {
  html {
    font-size: 82.5%;
  }
  .content {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1920px) {
  html {
    font-size: 82.5%;
  }
  .content {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1600px) {
  html {
    font-size: 82.5%;
  }
  .content {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1366px) {
  html {
    font-size: 82.5%;
  }
  .content {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 922px) {
  html {
    font-size: 70%;
  }
  .content {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 690px) {
  html {
    font-size: 60%;
  }
  .content {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 450px) {
  html {
    font-size: 40%;
  }
  .content {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 375px) {
  html {
    font-size: 33.31%;
    font-weight: 100;
  }
  .content {
    width: 90%;
    margin: 0 auto;
  }
}
</style>
