<template>
  <section class="news">
<div class="news-item">
<img src="https://opt-222221.ssl.1c-bitrix-cdn.ru/upload/medialibrary/eb2/1.jpg?1554212977381159" alt="">
  <p class="title">{{info.title}}</p>
  <p>{{info.text}}</p>

</div>
  </section>
</template>

<script>
export default{
props: ['info']
}
</script>

<style scoped>
.news {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

.news h2 {
  font-size: 2rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
}
</style>
