<template>

  

  <section class="page">
    <div class="logo__in">
      <a href="/">
      <img id="upper__logo-input" src="@/static/header__logo.svg" alt="">
      </a>
    </div>
    <div class="form">
        <div class="input__block">
            <input type="text" placeholder="логин" spellcheck="false">
                <div class="input__pas">
                    <input type="password" placeholder="пароль" spellcheck="false" id="input__password">
                    <img src="img/psssw.svg" alt="" id="img">
                </div>
        <div class="button">
            <button id="enter">Вход</button>
              <button id="reg">Регистрация</button>
      </div>
    </div>
    </div>
   
      
        <div class="content">
   
            <div id="footer">
                <p>При поддержке</p>
                <a href="https://www.itc48.ru/">
                    <img src="@/static/ITC.svg" alt="">
                </a>
                
                <p class="lipetsk">Липецк 2019</p>
            </div>
        </div>
    
    
  </section>
 
</template>

<script>
export default {
  components: {}
};
</script>
<style>
body {
  margin: 0px;
  padding: 0px;
  background-image: url("../../static/background.jpg");
  background-size: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html {
  margin: 0px;
  padding: 0px;
}
.content{
  display: flex;
  justify-content: center;
}
.logo__in{
  width: 100%;
  display: flex;
  justify-content: center;
  height: 10rem;
  align-items: center;
  position: absolute;
}
#upper__logo-input{
  width: 5rem;

}
.page {
  width: 100%;
}
.form {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 75vh;
  align-items: center;
}
h1 {
  /*обращаемся к тэгу h1*/
  color: white; /*устанавливаем цвет шрифта белым*/
  user-select: none; /*выбираем, может ли пользователь скопировать текст из блока*/
  font-family: inherit; /*выбираем шрифт, наследованным от родительского блока*/
  text-transform: uppercase; /*делаем все буквы заглавными*/
}

.input__block {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border: 6px solid rgb(255, 255, 255); /*устанавливаем рамку*/
  -webkit-filter: drop-shadow(3px 5px 5px #000);
  filter: drop-shadow(5px 7px 7px #000);
}

input {
  font-family: inherit;
  display: block;
  font-size: inherit;
  margin: 0;
  margin-bottom: 1.5rem; /*устанавливаем нижний отступ*/
  padding: 0.7rem;
  width: 17rem;
  border: 0;
  outline: none; /*отменяем рамку вокруг input*/
  color: black;
  user-select: none;
  font-weight: bold; /*жирность текста*/
}

.input__pas {
  position: relative;
}

input#input__password {
  display: inline-block; /*свойство расположения всех элементов блока в одну строку*/
}

img#img {
  position: absolute; /*позиционируем элемент в абсолютное значение относительно блока*/
  user-select: none;
  display: inline-block;
  width: 1rem;
  top: 0.8rem;
  right: 7%;
}

.button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 10px;
  height: auto;
}

button {
  font-size: inherit;
  width: 28%;
  padding: 0.5rem;
  font-family: inherit;
  outline: none;
  font-weight: 500;
  user-select: none;
  background-color: #fff;
  border: 0.2rem;
}
header {
  width: 100%;
  height: 4rem;
  display: flex;
  flex-wrap: nowrap;
  font-size: 2rem;
  margin: 1rem 0;
  border-bottom: 1px solid white;
}

header nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

header nav a img {
  width: 3rem;
}

header nav a {
  text-decoration: none;
  color: white;
  font-weight: 400;
}

.main__block img {
  width: 15rem;
  display: flex;
}

.main__block {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  height: 20%;
  margin: 4rem 0;
}

.main__block p {
  height: 40%;
  width: 50%;

  color: white;
  font-size: 2rem;
  font-weight: 300;
}

.left-align {
  margin-left: 2rem;
  text-align: left;
}

.right-align {
  margin-right: 2rem;
  text-align: right;
}

.detales-btn {
  width: 100%;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detales-btn button {
  width: 20rem;
  height: 5rem;
  background-color: yellow;
  cursor: pointer;
  border: 0;
  font-size: 2rem;
}

.hover {
  background: inherit;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.detales-btn button a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
#footer{
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0;
}
footer {
  width: 0;
  height: 0;
  display: none;
}
.footer {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  bottom: 0;
}
.footer p {
  font-size: 2rem;
  color: white;
}

#footer p {
  font-size: 2rem;
  color: white;
}

.lipetsk {
  font-size: 2rem;
  color: rgb(145, 145, 145);
}
.footer img {
  width: 15rem;
}
#footer img {
  width: 15rem;
}
@media screen and (max-width: 2200px) {
  html {
    font-size: 100%;
  }
  .content {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1920px) {
  html {
    font-size: 90%;
  }
  .content {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1600px) {
  html {
    font-size: 87%;
  }
  .content {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1366px) {
  html {
    font-size: 82.5%;
  }
  .content {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 922px) {
  html {
    font-size: 70%;
  }
  .content {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 690px) {
  html {
    font-size: 60%;
  }
  .content {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 450px) {
  html {
    font-size: 40%;
  }
  .content {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 375px) {
  html {
    font-size: 33.31%;
    font-weight: 100;
  }
  .content {
    width: 90%;
    margin: 0 auto;
  }
}
</style>
