<template>

  

  <section class="page">
    <header>
        <nav class="content">
            <a href="/">
                <img src="@/static/header__logo.svg" alt="">
            </a>
            <a href="/About">О нас</a>
            <a href="/Courses">Курсы</a>
            <a href="/News">Новости</a>
            <a href="/Login">Вход/Регистрация</a>
        </nav>
    </header>
    <section>
        <div class="content">
            <div class="main__block">
                <a href="https://vk.com/id190215756"><img src="@/static/Kirill.png" alt=""></a> 
                <p class="left-align">Ни одна команда не обходится без идейного вдохновителя, тимлида, мастера своего дела и просто хорошего человека. Это Кирилл, руководитель, совмещающий в себе многие качества, которыми он с вами может поделиться!</p>
            </div>
            <div class="main__block">
                
                <p class="right-align">Михаил, как и Кирилл, обладает теми же качествами. Но даже две капли воды что-то отличает. Если вы хотите получить знания версти, научиться писать адаптивные сайты под все девайсы, интересно и с пользой провести время, обращайтесь к этому замечательному человеку, он вас научит!</p>
            <a href="https://vk.com/id4078465"><img src="@/static/Misha.png" alt=""></a> 
            </div>
            <div class="main__block">
                <a href="https://vk.com/id58944796"><img src="@/static/Egor.png" alt=""></a> 
                <p class="left-align">Да кто это такие, эти хипстеры ... о чем это мы? Самый ярый ненавистник бэкнэнда, фронт-энд разработчик, добряк, человек, верстающий 3 сайта за один день и объясняющий установку vue.js два часа - Егор</p>
            </div>
            <div class="main__block">
                <p class="right-align">Вначале был ... дезигн. Самый креативный человек ОБУ ИТЦ - Никита расскажет, как нужно правильно составлять макеты для будущих сайтов, а так есть небольшая вероятность, что вы начнете любить ананасы! </p>
            <a href="https://vk.com/a1f2s68"><img src="@/static/Nikita.png" alt=""></a> 
            </div>
            <div class="main__block">
                <a href="https://vk.com/dmitrii.shmelev"><img src="@/static/Dima.png" alt=""></a> 
                <p class="left-align">Да он чертов волшебник! Как он это делает? Когда будет готово приложение ЛГТУ Online? Что такое Arduino, OpenServer, и API? На все это вопросы вам ответит Дмитрий! Человек, имеющий мозг, превышающий размер головы, а так же проживающий за сутки 48 часов, вот к кому надо обратиться за помощью с бэк-энд частью вашего проекта.</p>
            </div>

            <div class="detales-btn">
                <a href="/About"><button class="hover">Подробнее</button></a>
            </div>
        </div>
        <hr>
        <div class="content">
            <div class="footer">
                <p>При поддержке</p>
                <a href="https://www.itc48.ru/">
                    <img src="@/static/ITC.svg" alt="">
                </a>
                
                <p class="lipetsk">Липецк 2019</p>
            </div>
        </div>
    </section>
    <footer>

    </footer>
  </section>
 
</template>

<script>
export default {
  components: {}
};
</script>
<style>
body {
  margin: 0px;
  padding: 0px;
  background-image: url("../static/background.jpg");
  background-size: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html {
  margin: 0px;
  padding: 0px;
}
.page {

  width: 100%;
}

header {
  width: 100%;
  height: 4rem;
  display: flex;
  flex-wrap: nowrap;
  font-size: 2rem;
  margin: 1rem 0;
  border-bottom: 1px solid white;
}

header nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

header nav a img {
  width: 3rem;
}

header nav a {
  text-decoration: none;
  color: white;
  font-weight: 400;
}

.main__block img {
  width: 15rem;
  display: flex;
  
}

.main__block {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  height: 20%;
  margin: 4rem 0;
}

.main__block p {
  height: 40%;
  width: 50%;

  color: white;
  font-size: 2rem;
  font-weight: 300;
}

.left-align {
  margin-left: 2rem;
  text-align: left;
}

.right-align {
  margin-right: 2rem;
  text-align: right;
  
}




.detales-btn {
  width: 100%;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detales-btn button {
  width: 20rem;
  height: 5rem;
  background-color: yellow;
  cursor: pointer;
  border: 0;
  font-size: 2rem;
}

.hover {
  background: inherit;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.detales-btn button a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
footer{
    width: 0;
    height: 0;
    display: none;
}
.footer{
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    bottom: 0;
    
}
.footer p{
    font-size: 2rem;
    color: white;
}

.lipetsk{
    font-size: 2rem;
    color: rgb(145, 145, 145);
}
.footer img{
    width: 15rem;
}
@media screen and (max-width: 2200px) {
  html {
    font-size: 82.5%;
  }
  .content {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1920px) {
  html {
    font-size: 82.5%;
  }
  .content {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1600px) {
  html {
    font-size: 82.5%;
  }
  .content {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1366px) {
  html {
    font-size: 82.5%;
  }
  .content {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 922px) {
  html {
    font-size: 70%;
  }
  .content {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 690px) {
  html {
    font-size: 60%;
  }
  .content {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 450px) {
  html {
    font-size: 40%;
  }
  .content {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 375px) {
  html {
    font-size: 33.31%;
    font-weight: 100;
  }
  .content {
    width: 90%;
    margin: 0 auto;
  }
}
</style>
